@import "tailwindcss";

:root {
  --background: url("./assets/img/testbackgroundImage.png");
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes marker-ping {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.marker-light {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(249, 115, 22, 0.6); /* 오렌지색 */
  border-radius: 50%;
  animation: marker-ping 1.5s infinite;
}
